@import "../../styles/main";

.DividerLine {
    height: 0.2em;
    width: 100%;

    &-stop {
        scroll-snap-stop: normal;
        scroll-snap-align: start;
        &--start {
            scroll-snap-align: start;
        }
        &--end {
            scroll-snap-align: end;
        }
    }
}
