@import "../../../../styles/main.scss";

.Checkpoint {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 70px;
    .Date {
        white-space: nowrap;
        color: $connected-blue;
        font-weight: bold;
        font-size: 18px;
    }
    .DateInfo {
        padding-left: 1em;
        color: $connected-blue;
        font-size: 18px;
    }
}
.Checkpoint:before {
    content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: $connected-red; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    font-size: 6em;
    vertical-align: middle;
}

.Fillerpoint {
    height: 30px;
    list-style-type: none;
}

.Fillerpoint:before {
    content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: $connected-orange; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    font-size: 2em;
    vertical-align: middle;
    padding-left: 20px;
}
