@import "../../../../styles/main.scss";

.Checkpoint {
    list-style-type: none;
    padding: 1em 0;
    color: $connected-blue;
    line-height: 1em;
    font-size: 18px;
    .Date {
        font-weight: bold;
    }
}
.Checkpoint:before {
    content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: $connected-red; /* Change the color */
    font-size: 6em;
    vertical-align: text-bottom;
}

.Fillerpoint {
    line-height: 1.2em;
    list-style-type: none;
}
.Fillerpoint:before {
    content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: $connected-orange; /* Change the color */
    font-size: 2em;
    vertical-align: middle;
}
