@import "../../../../styles/main.scss";

.Checkpoint {
    display: flex;
    align-items: center;

    padding: 0em 0;
    color: $connected-blue;
    line-height: 1em;
    font-size: 18px;

    .Point {
        border-radius: 50%;
        height: 0.4em;
        margin-right: 0.1em;
        min-width: 0.4em;
        background-color: $connected-red; /* Change the color */
        font-weight: bold; /* If you want it to be bold */
        font-size: 6em;
        vertical-align: text-bottom;

        &:hover {
            border-radius: 50%;
            height: 0.4em;
            margin-right: 0.1em;
            min-width: 0.4em;
            background-color: $connected-teal;
            -webkit-animation: fade-in 1.2s both;
            animation: fade-in 1.2s both;
            @-webkit-keyframes fade-in {
                0% {
                    opacity: 1;
                }

                100% {
                    opacity: 1;
                }
            }
            @keyframes fade-in {
                0% {
                    opacity: 1;
                }

                100% {
                    opacity: 1;
                }
            }
        }
    }

    .Content {
        display: flex;
        flex-direction: column;
        @include bp-full {
            flex-direction: row;
        }
    }

    .Date {
        white-space: nowrap;
        display: inline-block;
        color: $connected-blue;
        font-weight: bold;
        font-size: 18px;
        padding-right: 1em;
    }
    .DateInfo {
        display: inline-block;
        color: $connected-blue;
        font-size: 18px;
    }
}

.Fillerpoint {
    padding: 0.5em 1em;

    .Point {
        border-radius: 50%;
        height: 0.4em;
        margin-right: 0.1em;
        width: 0.4em;
        background-color: $connected-orange; /* Change the color */
        font-size: 2em;
        vertical-align: text-bottom;
        &:hover {
            border-radius: 50%;
            height: 0.4em;
            margin-right: 0.1em;
            width: 0.4em;
            font-size: 2em;
            vertical-align: text-bottom;
            background-color: $connected-teal;
            -webkit-animation: fade-in 1.2s both;
            animation: fade-in 1.2s both;
            @-webkit-keyframes fade-in {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            @keyframes fade-in {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
        }
    }
}
