@import "../../../styles/main";

.FormRow {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    @include bp-med {
        flex-direction: row;
    }

    &--spacer {
        width: 50px;
    }
}
