@import "../../styles/main";

.IconText {
	display: flex;
	flex-direction: column;
	padding: $padding-base;

	&_icon {
		text-align: center;
		padding: 0 $padding-base;
	}
	
	&_text {
		text-align: center;
		margin: 0;
		margin-top: $padding-base;
	}

	&_cta {
		padding: $padding-base;
		display: flex;
		justify-content: center;
		align-items: center;

		&-text {
			@extend %font-link;
		}
	}

	@include for-phone-only {
		flex-direction: row;
	}
}