@import "../../../styles/main";

.DropDown {
    display: flex;
    flex-direction: column;
    &--input {
        font-size: 1em;
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        -ms-apperance: none;
        display: block;
        font-weight: 600;
        padding: 0.4em;
        padding-left: 0.8em;
        background: transparent;
        border: 3px solid $junction-blue;
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 2em;
        transition: all 0.2s ease;
        &:focus,
        &:hover {
            outline: none;
        }
        option {
            color: $junction-black;
        }
    }
}
