@import "../../../styles/main";

.DropDown {
    display: flex;
    flex-direction: column;
    flex: 1;

    &--input {
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        -ms-apperance: none;
        appearance: none;
        display: block;

        height: 38px;
        width: 181px;
        background: transparent;
        border: 3px solid $junction-blue;
        border-radius: 33px;
        font-size: 18px;
        transition: all 0.2s ease;

        option {
            color: $junction-black;
        }
    }
}
