.SingleColumnSection {
	display: flex;
	flex-direction: column;
	align-items: center;

	&--title {
		max-width: 980px;
		width: 100%;
		font-size: 40px;
	}

	&--content {
		max-width: 980px;
		width: 100%;
		display: flex;
		flex-direction: column;
	}
}