@import "../../../styles/main";
.HomePage {
    background-color: $junction-white;

    .HomePage--TopContent {
        align-content: center;
        text-align: center;
    }

    .HomePage--logo {
        margin: 5% 0;
        align-content: center;
    }

    p.HomePage-subtitle {
        text-align: center;
    }

    .HeaderSection {
        padding-top: 5%;
        > h3 {
            font-size: 1.5em;
        }
        > img {
            width: 20em;
        }
    }

    .ReadMore {
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-bottom: 5%;
        margin-top: 0;
        margin-left: 50%;
        margin-right: 50%;
    }
}
