@import "../../styles/main";
.Connected {
    background-color: $connected-peach;
    color: $connected-blue;

    .Connected--TopContent {
        align-content: center;
        text-align: center;
    }

    .Connected--logo {
        margin: 5% 0;
        align-content: center;
    }

    .Connected-subtitle {
        color: $connected-blue;
        text-align: center;
    }
    .Connected-button {
        background-color: $connected-orange;
        text-align: center;
        border: 3px solid $connected-orange;
        width: 263px;
        height: 35px;
        box-shadow: 2px 4px 4px rgba(35, 35, 35, 0.15);
        box-sizing: border-box;
        border-radius: 33px;
        font-size: 18px;
        font-weight: 600;
        text-transform: none;
        line-height: 22px;
        margin: 2px;
        & > span {
            color: $connected-blue;
        }

        &.selected {
            background-color: $connected-blue;
            color: $connected-red;
            border-color: $connected-red;
        }
    }
    .Connected-blue-button {
        background-color: $connected-blue;
        text-align: center;
        border: 3px solid $connected-blue;
        width: 263px;
        height: 35px;
        box-shadow: 2px 4px 4px rgba(35, 35, 35, 0.15);
        box-sizing: border-box;
        border-radius: 33px;
        font-size: 18px;
        font-weight: 600;
        text-transform: none;
        line-height: 22px;
        margin: 2px;
        & > span {
            color: $connected-teal;
        }
        &.selected {
            background-color: $connected-teal;
            & > span {
                color: $connected-blue;
            }
            border-color: $connected-teal;
        }
    }
    .Connected-blue-button {
        background-color: $connected-blue;
        text-align: center;
        border: 3px solid $connected-blue;
        width: 263px;
        height: 35px;
        box-shadow: 2px 4px 4px rgba(35, 35, 35, 0.15);
        box-sizing: border-box;
        border-radius: 33px;
        font-size: 18px;
        font-weight: 600;
        text-transform: none;
        line-height: 22px;
        margin: 2px;
        & > span {
            color: $connected-teal;
        }
    }

    .Header {
        outline-color: $connected-blue;
        background: $connected-peach;
    }

    .NavMenu {
        background-color: $connected-blue;
        color: $connected-peach;
        &--inner {
            &__menu {
                &-item {
                    color: $connected-peach;
                }
                &-item:hover {
                    opacity: 1;
                    color: $junction-blue;
                }

                &-title {
                    color: $connected-peach;
                }
            }
        }
    }

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
        background-color: $connected-peach;
    }

    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
        background-color: $connected-peach;
    }

    .Footer {
        background: $connected-peach;
        border-top: 4px solid $connected-blue;

        &--divider {
            background-color: $connected-blue;
        }
        &--left {
            &-divider {
                background-color: $connected-blue;
            }
            &-second {
                &__FooterLinkList {
                    span {
                        a {
                            color: $connected-blue;
                        }
                    }
                }
            }
        }
    }

    .ImageHeader > h2 {
        color: $connected-peach;
    }

    h1,
    h2,
    h3,
    p {
        color: $connected-blue;
    }

    .SectionImage,
    .BlockSection {
        border-top: 0.2em solid $connected-blue;
        border-bottom: 0.2em solid $connected-blue;
    }
}
