@import "../../styles/main";
.Connected {
    background-color: $connected-peach;

    .Connected--TopContent {
        align-content: center;
        text-align: center;
    }

    .Connected--logo {
        margin: 5% 0;
        align-content: center;
    }

    .Connected-subtitle {
        color: $connected-blue;
        text-align: center;
    }
    .Connected-button {
        background-color: $connected-orange;
        text-align: center;
        border: 3px solid $connected-orange;
        width: 263px;
        height: 35px;
        box-shadow: 2px 4px 4px rgba(35, 35, 35, 0.15);
        box-sizing: border-box;
        border-radius: 33px;
        font-size: 18px;
        font-weight: 600;
        text-transform: none;
        line-height: 22px;
        margin: 2px;
        & > span {
            color: $connected-blue;
        }
    }
    .Connected-blue-button {
        background-color: $connected-blue;
        text-align: center;
        border: 3px solid $connected-blue;
        width: 263px;
        height: 35px;
        box-shadow: 2px 4px 4px rgba(35, 35, 35, 0.15);
        box-sizing: border-box;
        border-radius: 33px;
        font-size: 18px;
        font-weight: 600;
        text-transform: none;
        line-height: 22px;
        margin: 2px;
        & > span {
            color: $connected-teal;
        }
    }
    .Connected-blue-button {
        background-color: $connected-blue;
        text-align: center;
        border: 3px solid $connected-blue;
        width: 263px;
        height: 35px;
        box-shadow: 2px 4px 4px rgba(35, 35, 35, 0.15);
        box-sizing: border-box;
        border-radius: 33px;
        font-size: 18px;
        font-weight: 600;
        text-transform: none;
        line-height: 22px;
        margin: 2px;
        & > span {
            color: $connected-teal;
        }
    }

    .Checkpoint {
        list-style-type: none;
        padding: 1em 0;
        color: $connected-blue;
        font-weight: bold;
        font-size: 18px;
    }
    .Checkpoint:before {
        content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: $connected-red; /* Change the color */
        font-weight: bold; /* If you want it to be bold */
        font-size: 6em;
        vertical-align: text-bottom;
    }

    .Fillerpoint {
        list-style-type: none;
    }
    .Fillerpoint:before {
        content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: $connected-orange; /* Change the color */
        font-weight: bold; /* If you want it to be bold */
        font-size: 2em;
        vertical-align: middle;
        padding: 20px;
    }

    .Header {
        outline-color: $connected-blue;
        background: $connected-peach;
    }

    .NavMenu {
        background-color: $connected-blue;
        color: $connected-peach;
        &--inner {
            &__menu {
                &-item {
                    color: $connected-peach;
                }
                &-title {
                    color: $connected-peach;
                }
            }
        }
    }

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
        background-color: $connected-peach;
    }

    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
        background-color: $connected-peach;
    }

    .Footer {
        background: $connected-peach;
        border-top: 4px solid $junction-black;

        &--divider {
            background-color: $junction-black;
        }
        &--left {
            &-divider {
                background-color: $junction-black;
            }
            &-second {
                &__FooterLinkList {
                    span {
                        a {
                            color: $junction-black;
                        }
                    }
                }
            }
        }
    }
}
