@import "../../styles/main";

.Header {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    pointer-events: none;
    width: 15%;
    height: 100%;
    z-index: 10;
    outline-style: solid;
    outline-width: normal;
    transition: all 0.2s ease;
    @include bp-med {
        display: flex;
    }
    &--emblem {
        pointer-events: all;
        width: 20px;
        cursor: pointer;
        position: fixed;
        &__image {
            width: 80px;
        }
    }
    &--connected {
        pointer-events: all;
        width: 12em;
        display: none;
        cursor: pointer;
        margin: 1em auto;
        position: relative;
        @include bp-full {
            display: block;
        }

        &__image {
            width: 12em;
        }
    }
}

.HeaderMobile {
    display: flex;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    flex-direction: column;
    &--open {
        height: 100%;
        overflow: hidden;
    }
    padding: 10px;
    background: $junction-black;

    .HeaderMobileRow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        > a {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &--emblem {
        pointer-events: all;
        cursor: pointer;

        &__image {
            margin-left: 10%;
            width: 50px;
        }
    }
    &--icon {
        margin: 2%;
        &:hover {
            cursor: pointer;
        }
    }

    &--connected {
        width: 50%;
        margin-left: 2%;
        &__image {
            width: 100%;
        }
    }
    @include bp-med {
        display: none;
    }
}
