@import '../../styles/main';

.FilterButtons {
  width: 100%;
  text-align: center;
}

.ChallengeGrid {
  margin: 5% 10%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  //grid-row-gap: 1%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-auto-rows: 1fr;

  @include bp-med {
    margin: 5%;
    grid-template-columns: repeat(2, 1fr);
    // grid-column-gap: 7%;
    // grid-row-gap: 2%;
    grid-auto-rows: 1fr;
  }
  @include bp-full {
    margin: 5%;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 7%;
    grid-row-gap: 2%;
    grid-auto-rows: 1fr;
  }
}

.ChallengeIco {
  max-height: 5rem;
  max-width: 80%;
}

.ChallengeItem.flip {
  //Please set animation duration in ChallengeItem.js
  animation-name: card-flip;
  max-height: 17rem;
}

.ChallengeItem.open {
  //overflow-y: scroll;
  scrollbar-width: thin; /* "auto" or "thin"  */
  scrollbar-color: $connected-blue; /* scroll thumb & track */
  span.ChallengeItem--title {
    @extend %font-title;
    color: $connected-blue;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.3rem;
    line-height: normal;
    align-self: center;
    text-align: center;
    align-self: center;
  }
}

@keyframes card-flip {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  25% {
    transform: translate(0%, -10%) scale(1.05);
    box-shadow: 0px 1em 1em #5103;
  }
  50% {
    transform: rotate3d(0, 1, 0, 90deg) translate(0%, -10%) scale(1.05);
    box-shadow: 0px 1em 1em #5103;
  }
  75% {
    transform: rotate3d(0, 1, 0, 0deg) translate(0%, -10%) scale(1.05);
    box-shadow: 0px 1em 1em #5103;
  }
}

.ChallengeItem {
  cursor: pointer;
  margin-top: 5%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  height: 20em;
  width: 20em;
  max-height: 20em;
  min-height: 20em;
  @include bp-med {
    height: 20em;
    width: 20em;
    max-height: 20em;
    min-height: 20em;
  }
  @include bp-full {
    height: 20em;
    width: 20em;
    max-height: 20em;
    min-height: 20em;
  }
  flex-direction: column;
  border-color: $connected-red;
  justify-content: space-between;
  border-radius: 10px;
  border-style: solid;
  border-width: 0.3rem;
  padding: $padding-base;
  padding-top: 2rem;
  overflow: hidden;
  background-color: $connected-peach;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-align: center;
  &--text {
    text-align: center;
    align-self: center;

    @include bp-full {
      text-align: center;
      align-items: center;
      align-self: center;
      width: 100%;
    }

    span.ChallengeItem--title {
      @extend %font-title;
      color: $connected-blue;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 2rem;
      line-height: normal;
      align-self: center;
      text-align: center;
      align-self: center;
    }

    p.ChallengeItem--description {
      color: $connected-blue;
      line-height: normal;
      margin-bottom: 0;
      text-align: center;
      align-self: center;
    }
  }

  &--logowpr {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    img.ChallengeItem--logo {
      width: 20%;
    }
  }

  &--number {
    width: 30%;
    flex: 1 1 30%;
    font-family: Lato;
    font-size: 100px;
    font-weight: 900;
  }
}
