/* Junction brand colors */

$junction-blue: #35e2df;
$junction-magenta: #ff33ff;
$junction-green: #a8ff00;
$junction-lightgreen: #00ff99;
$junction-black: #131313;
$junction-white: #fbfbfb;

$text-primary: rgba($junction-white, 0.95);
$text-secondary: rgba($junction-white, 0.85);

/* Misc */

$color-warning: #ff6700;
$color-error: #cc0000;
$color-lightgrey: #ececec;

/* New colors */
$lightgrey: #bbbbbb;