@import 'sizes';

/* Import Montserrat and Lato fonts */
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Montserrat:400,400i,700,700i');

$montserrat: 'Montserrat', sans-serif;
$lato: 'Lato', sans-serif;

html {
    font-size: 16px;
}

/* Default to Lato on all elements */
* {
    font-family: $lato;
}

.font-title,
%font-title {
    font-family: $montserrat;
    color: $junction-white;
}

.font-body,
%font-body {
    font-family: $lato;
    font-size: 16px;
    line-height: 26px;
    color: $junction-white;
    text-align: justify;

    @include bp-full {
        font-size: 18px;
        line-height: 32px;
        text-align: left;
    }
}

.font-secondary,
%font-secondary {
    font-family: $lato;
    font-size: 13px;
    color: $color-lightgrey;
}

.font-input,
%font-input {
    font-family: $lato;
    font-size: 16px;
    color: $junction-white;
}

.font-link,
%font-link {
    @extend %font-body;
    color: $junction-blue;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

/* Define sensible defaults for common elements */

h1,
h2,
h3,
h4,
h5,
h6 {
    @extend %font-title;
}

p,
span,
li,
td,
th {
    @extend %font-body;
}

label,
small,
i {
    @extend %font-secondary;
}

input,
textarea {
    @extend %font-input;
}

a {
    @extend %font-link;
}
