/* Import Montserrat and Lato fonts */
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Montserrat:400,400i,700,700i');

$montserrat: 'Montserrat', sans-serif;
$lato: 'Lato', sans-serif;

html {
	font-size: 16px;
}

/* Default to Lato on all elements */
* {
	font-family: $lato;
}

.font-title,
%font-title {
	font-family: $montserrat;
	font-size: 32px;
	color: $junction-white;
}

.font-body,
%font-body {
	font-family: $lato;
	font-size: 16px;
	color: $junction-white;
}

.font-secondary,
%font-secondary {
	font-family: $lato;
	font-size: 13px;
	color: $color-lightgrey;
}

.font-input,
%font-input {
	font-family: $lato;
	font-size: 16px;
	color: $junction-white;
}

/* Define sensible defaults for common elements */

h1 {
	@extend %font-title;
}

h2,
h3 {
	@extend %font-title;
	font-size: 28px;
}

h4,
h5 {
	@extend %font-title;
	font-size: 22px;
}

h6 {
	@extend %font-title;
	font-size: 20px;
}

p,
span,
li,
td,
th {
	@extend %font-body;
}

label,
small {
	@extend %font-secondary;
}

input,
textarea {
	@extend %font-input;
}

a {
	text-decoration: underline;
	color: $junction-blue;

}