$bp-small: 600px;
$bp-med: 900px;
$bp-large: 1200px;

@mixin for-phone-only {
  @media (max-width: $bp-small - 1) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: $bp-small) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: $bp-med) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: $bp-large) { @content; }
}

$padding-base: 10px;
$padding-double: 20px;

html,
body,
#root {
	height: 100%;
	margin: 0;
}