.TeamMemberGrid {
	margin: 0 auto;
	width: 100%;
	max-width: 980px;	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

	&--item {
		width: 280px;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 80px;
		position: relative;
		overflow: hidden;

		&__top {
			position: relative;
			width: 100%;
			height: 280px;
			overflow: hidden;
			perspective: 1000px;

			&:hover .TeamMemberGrid--item__flipper {
				transform: rotateY(180deg);
			}

			&:hover .TeamMemberGrid--item__gif {
				opacity: 1;
			}
		}

		&__flipper {
			width: 100%;
			height: 100%;
			transition: 0.6s;
			transform-style: preserve-3d;
			position: relative;

			&-front,
			&-back {
				backface-visibility: hidden;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}

			&-front {
				transform: rotateY(0deg);
			}

			&-back {
				transform: rotateY(180deg);
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}

		&__image {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&__gif {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}

		&__bottom {

			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 10px;
			position: relative;
			z-index: 3;
		}

		&__name {
			margin: 0;
			font-size: 18px;
		}

		&__title {
			font-size: 16px;
			line-height: 32px;
		}

		&__email {
			font-size: 16px;
			line-height:16px
		}

		&:hover {
			.TeamMemberGrid--item__gif {
				transform: translateY(0);
			}
		}
	}
}