@import "../../../styles/main.scss";

.NavMenuWrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    display: none;
    @include bp-med {
        display: flex;
    }
}

.NavMenuOverlay {
    position: fixed;
    bottom: 0;
    right: 0;
    pointer-events: none;
    transition: all 0.4s ease;
    z-index: 2;
    top: 0;
    left: 15%;
    display: none;
    &-open {
        background: rgba($junction-black, 0.75);
        pointer-events: all;
    }
    @include bp-med {
        display: flex;
    }
}

.NavMenu {
    width: 30px;
    pointer-events: all;
    position: fixed;
    left: calc(15% - 14px);
    top: 15%;
    z-index: 3;
    display: none;
    height: auto;
    min-height: 70%;
    border-width: thin;
    flex-direction: row;
    border-radius: 0.4em;
    @include bp-med {
        display: flex;
    }
    &::-webkit-scrollbar {
        display: none;
    }

    &--exit {
        height: 100%;
        margin-top: 1em;
        width: 50px;
        min-width: 50px;
        text-align: center;
    }

    &-open {
        min-width: 15%;
        width: 25em;
        max-width: 25%;
        max-width: $bp-small;
        transition: border-color 0.5s linear;
    }

    .top,
    .bottom,
    .left,
    .right {
        position: absolute;
        -webkit-animation: 3s linear slidein forwards;
        animation: 3s linear slidein forwards;
    }
    .top {
        top: -3px;
        left: -3px;
        height: 3px;
        -webkit-animation-name: top;
        animation-name: top;
    }
    @keyframes top {
        0% {
            width: 0;
            background: $junction-white;
        }
        25% {
            width: calc(101%);
            background: $junction-white;
        }
        100% {
            width: calc(101%);
            background: $junction-white;
        }
    }

    .right {
        top: -3px;
        right: -3px;
        width: 3px;
        -webkit-animation-name: right;
        animation-name: right;
    }
    @keyframes right {
        25% {
            height: 0;
            background: $junction-white;
        }
        50% {
            height: calc(100% + 3px);
            background: $junction-white;
        }
        100% {
            top: auto;
            bottom: 0px;
            height: calc(100% + 3px);
            background: $junction-white;
        }
    }

    .bottom {
        bottom: -3px;
        right: -3px;
        height: 3px;
        -webkit-animation-name: bottom;
        animation-name: bottom;
    }
    @keyframes bottom {
        50% {
            width: 0;
            background: $junction-white;
        }
        75% {
            right: -3px;
            width: calc(101%);
            background: $junction-white;
        }
        100% {
            right: -3px;
            width: calc(101%);
            background: $junction-white;
        }
    }

    .left {
        bottom: -3px;
        left: -3px;
        width: 3px;
        -webkit-animation-name: left;
        animation-name: left;
    }
    @keyframes left {
        75% {
            height: 0;
            background: $junction-white;
        }
        100% {
            height: calc(100.5%);
            background: $junction-white;
        }
    }

    &--inner {
        transition: all 0.5s ease-in-out;
        margin: 10% 10% 10% 5%;
        &__menu {
            width: 20em;
            display: flex;
            flex-direction: column;

            span.toHome {
                color: $junction-white;
                font-size: 1.2em;
                margin-left: 5%;
            }

            &-item {
                margin-left: 10%;
                color: $junction-white;
                text-decoration: none;
                font-weight: 600;
                font-size: 1.3em;
                line-height: 1.2em;
            }
            &-title {
                color: $junction-white;
                line-height: 0.8em;
                font-weight: bold;
                margin-top: 1em;
                margin-bottom: 0.3em;
                font-size: 1.5em;
                text-align: left;
            }
        }
    }
}

/* some nice CSS from https://github.com/jonsuh/hamburgers */

.hamburger {
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    margin-left: -21px;

    overflow: visible;
    &:focus {
        outline: none;
    }
}
.hamburger:hover {
    opacity: 0.7;
}
.hamburger.is-active:hover {
    opacity: 0.7;
}

.hamburger-box {
    width: 1.25em;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -3px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 1.25em;
    height: 3px;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}
.hamburger-inner::before {
    top: -10px;
}
.hamburger-inner::after {
    bottom: -10px;
}

.hamburger--spin .hamburger-inner {
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
.hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
    transform: rotate(225deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
.hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}
