@import "../../../styles/main.scss";

.NavMenuWrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    display: none;
    @include bp-med {
        display: flex;
    }
}

.NavMenuOverlay {
    position: fixed;
    bottom: 0;
    right: 0;
    pointer-events: none;
    transition: all 0.4s ease;
    z-index: 2;
    top: 0;
    left: 15%;
    display: none;
    &-open {
        background: rgba($junction-black, 0.75);
        pointer-events: all;
    }
    @include bp-med {
        display: flex;
    }
}

.NavMenu {
    width: 60px;
    border-radius: 3px;
    pointer-events: all;
    background-color: $junction-black;
    position: fixed;
    left: calc(15% - 30px);
    top: 10%;
    z-index: 3;
    transition: all 0.5s ease-in-out;
    display: none;
    min-height: 80%;
    height: auto;
    border-style: solid;
    border-color: white;
    border-width: thin;
    flex-direction: row;
    @include bp-med {
        display: flex;
    }
    &::-webkit-scrollbar {
        display: none;
    }

    &--exit {
        height: 100%;
        margin: 15px;
        &:hover {
            cursor: pointer;
        }
    }

    &-open {
        transition: all 0.2s ease;
        min-width: 15%;
        width: 25em;
        max-width: 25%;
        max-width: $bp-small;
        transition: all 0.5s ease-in-out;
    }

    &--inner {
        transition: all 0.5s ease-in-out;
        margin: 10% 10% 10% 5%;
        &__menu {
            width: 20em;
            display: flex;
            flex-direction: column;

            &-item {
                margin-left: 15%;
                color: $junction-white;
                text-decoration: none;
                font-weight: 600;
                font-size: 20px;
                line-height: 28px;
            }

            &-title {
                color: $junction-white;
                line-height: 24px;
                font-weight: bold;
                margin-top: 30px;
                margin-bottom: 10px;
                font-size: 20px;
                text-align: left;
            }
        }
    }
}
