@import '../../../styles/main';

.FormRow {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;

	@include bp-med {
		flex-direction: row;
	}

	&--spacer {
		width: 50px;
		height: 30px;
	}
}