@import '../../styles/main';

.Markdown {
    p {
        @extend %font-body;
        margin-top: 0;
    }

    a {
        font-weight: bold;
    }

    &--youtube {
        width: 100%;

        &__video {
            width: 100%;
        }
    }

    &--image {
        width: 100%;
    }
}
