@import "../../../styles/main";
.StoryPage {
    @include bp-small-only {
        padding: 4px;
    }
    .StoryPage--TopContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        width: 100%;
        height: 50%;

        @media (max-width: 500px) {
            flex-direction: column;
            height: unset;
            align-items: center;
            align-content: center;
            justify-content: center;
        }

        &--Left {
            width: 100%;
            margin: 5%;

            @media (max-width: 500px) {
                width: 95%;
            }

            p {
                text-align: center;
            }
        }

        &--Right {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            @include bp-small-only {
                width: 95%;
                flex-direction: column;
            }
            &--Box {
                height: 50%;
                width: 25%;
                background: #d1f2ef;
                border: 1px solid #d1f2ef;
                border-radius: 58px;

                margin: 10px;
                @include bp-small-only {
                    width: 70%;
                    flex-direction: column;
                }
                h3 {
                    margin: 3px;
                    word-spacing: 10px;
                }
                h4 {
                    margin: 10px;
                }
            }
        }
    }
}
