/* Junction brand colors */

$junction-blue: #73f9ec;
$junction-magenta: #ff33ff;
$junction-green: #a8ff00;
$junction-lightgreen: #00ff99;
$junction-black: #232323; //131313
$junction-white: #fbfbfb;

$text-primary: rgba($junction-black, 0.95);
$text-secondary: rgba($junction-white, 0.85);

/* Misc */

$color-warning: #ff6700;
$color-error: #cc0000;
$color-lightgrey: #ececec;

/* New colors */
$lightgrey: #bbbbbb;

/* Main Event 2020 Colors */
$connected-Erin-peach: #fff6ef;
$connected-Erin-orange: #f29168;
$connected-peach: #f5d2a2;
$connected-blue: #0b2c5d;
$connected-teal: #6da99e;
$connected-orange: #ef7d50;
$connected-red: #f44e2c;
$connected-line: #ecb98c
