@import "../../styles/main";
.Junction {
    background-color: $junction-white;

    .Header {
        outline-color: $junction-black;
        background: $junction-white;
    }

    .NavMenu {
        background-color: $junction-black;
        &--inner {
            &__menu {
                &-item {
                    color: $junction-white;
                }
                &-item:hover {
                    opacity: 1;
                    color: $junction-blue;
                }

                &-title {
                    color: $junction-white;
                }
            }
        }
    }
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
        background-color: $junction-white;
    }

    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
        background-color: $junction-white;
    }

    .Footer {
        background: $junction-white;
        border-top: 4px solid $junction-black;

        &--divider {
            background-color: $junction-black;
        }
        &--left {
            &-divider {
                background-color: $junction-black;
            }
            &-second {
                &__FooterLinkList {
                    span {
                        a {
                            color: $junction-black;
                        }
                    }
                }
            }
        }
    }

    .SectionImage,
    .BlockSection {
        border-top: 0.2em solid $junction-black;
        border-bottom: 0.2em solid $junction-black;
    }
}
