@import '../../../styles/main';

.EventCalendarEvent {
    width: 600px;
    height: 300px;
    background: rgba(255, 255, 255, 0.2);
    background: var(--theme-color);
    border-radius: 7px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    border-radius: 30px;

    &--main {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease-in-out;
        z-index: 2;
    }

    &--onhover {
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($junction-black, 0.5);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;

        display: flex;
        flex-direction: column;
        z-index: 3;

        &-main {
            display: flex;
            flex-direction: column;
            padding: $padding-page;
            flex: 1;
            overflow: hidden;
        }

        &__title {
            @extend %font-title;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;

            @include bp-med {
                font-size: 22px;
                line-height: 26px;
            }
        }

        &__subtitle {
            font-size: 16px;
            line-height: 18px;
            font-weight: bold;

            @include bp-med {
                font-size: 18px;
                line-height: 22px;
            }
        }

        &__desc {
            margin-top: 20px;
            font-size: 16px;
            line-height: 20px;
            flex: 1;

            @include bp-med {
                font-size: 18px;
                line-height: 26px;
            }
        }

        &__buttons {
            height: 50px;
            display: flex;
            flex-direction: row;
        }

        &__button {
            flex: 1;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $junction-white;
            border-top: 1px solid rgba($junction-white, 0.2);
            background: rgba($junction-black, 0.8);
            font-weight: bold;

            &:not(:last-child) { 
                border-right: 1px solid rgba($junction-white, 0.2);
            }
        }
    }

    &:hover, &-active {
        .EventCalendarEvent--main {
           
        }

        .EventCalendarEvent--content * {
            opacity: 0;
        }

        .EventCalendarEvent--onhover {
            opacity: 1;
            pointer-events: initial;
        }
    }

    &--image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
    }

    &--content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 20px;
        background: rgba(19,19,19, 0.4);
        background: linear-gradient(110deg,rgba(19,19,19,.9),rgba(19,19,19,.4) 65%,rgba(19,19,19,.0));

        @include bp-full {
            padding: 30px;
        }

        * {
            transition: opacity 0.3s ease;
        }
        
        &__date {
            font-size: 22px;
            margin-bottom: 20px;
        }

        &__title {
            @extend %font-title;
            font-weight: bold;
            font-size: 22px;
            line-height: 30px;
            margin-bottom: 20px;

            @include bp-full {
                font-size: 38px;
                line-height: 44px;
            }
        }

        &__location {
            font-size: 22px;
        }
    }
}
