@import '../../../styles/main.scss';

.NavMenuWrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
}

.NavMenuOverlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	pointer-events: none;
	transition: all 0.4s ease;
	z-index: 2;

	&-open {
		background: rgba($junction-black, 0.75);
		pointer-events: all;
	}
}

.NavMenu {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 3;
	width: 100%;
	max-width: $bp-med;
	background: $junction-white;
	display: flex;
	flex-direction: column;
	padding: 100px 0;
	justify-content: center;
	align-items: center;
	pointer-events: all;
	transform: translateX(-120%);
	transition: all 0.4s ease-in-out;

	&-open {
		transform: translateX(0);
	}

	&--close {
		position: absolute;
		top: 0;
		right: 0;
		padding: $padding-base $padding-double;
		cursor: pointer;
		transition: all 0.3s ease;

		@include bp-full {
			opacity: 0;
			pointer-events: none;
		}

		&__text {
			color: $junction-black;
			text-transform: uppercase;
			font-size: 22px;
			line-height: 22px;
		}
	}

	&--inner {
		width: 300px;
		display: flex;
		flex-direction: column;
		align-items: stretch;

		&__logo {
			width: 100%;
		}

		&__menu {
			display: flex;
			flex-direction: column;
			align-items: center;

			@include bp-med {
				align-items: flex-start;
			}

			&-item {
				color: $junction-black;
				font-size: 16px;
				line-height: 22px;
				text-decoration: none;
				text-align: center;

				@include bp-med {
					font-size: 20px;
					line-height: 28px;
					text-align: left;
				}
			}

			&-title {
				color: $lightgrey;
				font-size: 16px;
				line-height: 24px;
				font-weight: bold;
				margin-top: 30px;
				margin-bottom: 10px;
				text-align: center;

				@include bp-med {
					font-size: 20px;
					text-align: left;
				}
			}
		}
	}
}