@import '../../../styles/main.scss';

.NavMenuWrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

.NavMenuOverlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    transition: all 0.4s ease;
    z-index: 2;

    &-open {
        background: rgba($junction-black, 0.75);
        pointer-events: all;
    }
}

.NavMenu {
    position: fixed;
    top: 0;
    left: -1.2 * $bp-med;
    bottom: 0;
    z-index: 3;
    width: 80%;
    max-width: $bp-med;
    background: $junction-white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    pointer-events: all;
    transition: all 0.4s ease;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    &-open {
        left: 0;
    }

    &--inner {
        width: 100%;
        max-width: 300px;
        margin: 100px 0;
        flex: 1;
        padding: $padding-page;

        &__logo {
            width: 100%;
        }

        &__menu {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            &-item {
                color: $junction-black;
                font-size: 16px;
                line-height: 22px;
                text-decoration: none;
                text-align: left;

                @include bp-med {
                    font-size: 20px;
                    line-height: 28px;
                }
            }

            &-title {
                color: $lightgrey;
                font-size: 16px;
                line-height: 24px;
                font-weight: bold;
                margin-top: 30px;
                margin-bottom: 10px;
                text-align: center;

                @include bp-med {
                    font-size: 20px;
                    text-align: left;
                }
            }
        }
    }
}
