.EventMap {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;

	&_PopupContainer {
		margin: 20px;

		.mapboxgl-popup-content {
			background: transparent;
			padding: 10px;
		}
	}
}