@import "./styles/main";

.Page {
    height: 100%;
    min-height: 900px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

html,
body {
    margin: 0px;
    height: 100%;
    font-family: $montserrat;
}

.App {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Montserrat;
}

.App--Main {
    height: 100%;
    overflow-x: hidden;
    background: $junction-white;
    @include bp-med {
        flex-direction: row;
    }
}

.App--Content {
    background: $junction-white;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    z-index: 1;
    @include bp-med {
        flex-basis: 85%;
        position: absolute;
        left: 15%;
        width: 85%;
    }
    .leave-margin {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
}

.Button-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ScrollSnap {
    @include bp-full {
        scroll-snap-type: y proximity;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        height: 100vh;
    }
}

.ScrollSnapElem {
    @include bp-med {
        scroll-snap-stop: always;
        scroll-snap-align: start;
    }
}
