@import "./styles/main";

.Page {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

html,
body {
    margin: 0px;
    height: 100%;
}

.App {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.App--Main {
    overflow-x: hidden;
    background: $junction-white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    @include bp-med {
        flex-direction: row;
    }
}

.App--Content {
    background: rgb(0, 0, 0);
    background: linear-gradient(
        152deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 1) 15%,
        rgba(35, 35, 35, 1) 100%
    );

    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    align-items: stretch;
    z-index: 1;
    @include bp-med {
        flex-basis: 85%;
    }
}
