@import "../../styles/main";
.HomePage {
    background-color: $junction-white;
}

.button-position {
}

.container {
    height: 100%;
    position: relative;

    &vertical-center {
        height: 50%;
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    &-img {
        position: absolute;
        top: 50%;
        width: 100%;
        z-index: -100;
    }

    &-center {
        position: absolute;
        top: 50%;
        height: 400px;
    }
}
