@import '../../styles/main';

.BorderedSection {
    display: flex;
    margin-bottom: 50px;

    flex-direction: column;
    align-items: center;

    @include bp-med {
        flex-direction: row;
        align-items: stretch;
    }

    &--left {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include bp-med {
            width: 220px;
        }

        @include bp-full {
            width: 320px;
        }
    }

    &--title {
        margin: 0;
        text-align: center;
        text-transform: uppercase;
        word-break: break-word;
        font-size: 24px;
    }

    &--right {
        flex: 1;
    }

    &--content {
        margin: 0;
    }
}
