@import "../../styles/main";

.BlockSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    @include bp-full {
        flex-direction: row;
        justify-content: center;
    }

    &--left {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0em 0em 0em 4em;
        @include bp-full {
            margin-right: 25px;
            align-items: flex-start;
        }

        &__title {
            margin: 0;
            font-size: 40px;
            text-align: center;
            word-break: break-word;

            @include bp-full {
                text-align: left;
            }
        }

        &__subtitle {
            * {
                text-align: center !important;
            }

            @include bp-full {
                * {
                    text-align: left !important;
                }
            }
        }
    }

    &--right {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 36px;

        @include bp-full {
            margin-top: 0;
        }

        & > p {
            margin: 0;
        }
    }
}

.Seperated {
    border-top: 3px solid $junction-black;
    border-bottom: 3px solid $junction-black;
}

.Last {
    border-top: 3px solid $junction-black;
}
