@import '../../styles/main';

.Nav--Wrapper {
	flex: 1;
}

.Nav {
	background: $junction-blue;
	width: 300px;
	transform: translateX(-260px);
	transition: all 0.3s ease;
	opacity: 0.8;
	position: relative;
	padding-top: 100px;
	padding-left: 60px;

	.Nav_Icon {
		width: 40px;
		height: 40px;
		position: absolute;
		top: 0;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.3s ease;

		i {
			color: white;
			font-size: 20px;
		}
	}

	.Nav_Item {
		opacity: 0;
		margin-left: 20px;

		/* Appear animation */
		transition: all 0.3s ease;
		transition-delay: calc(var(--n) * 0.1s);
		transform: translateY(10px);
		opacity: 0;
		a {
			@extend %font-title;
			padding: $padding-base;
			text-align: center;
			text-decoration: none;
			color: $junction-white;
			text-transform: uppercase;
			font-weight: bold;
		}
	}

	&.expanded {
		transform: translateX(0);

		.Nav_Icon {
			opacity: 0;
			transition-delay: 0;
		}

		.Nav_Item {
			opacity: 1;
			transform: translateY(0)
		}
	}

	&:hover,
	&.expanded {
		opacity: 1;
	}
}