.Hubs {
    p {
        font-family: "Montserrat";
        font-weight: 600;
        width: 80%;
        text-align: center;
        line-height: 22px;
    }
    .align {
        text-align: center;
    }
}
