@import "../../../styles/main";

.TextInput {
    display: flex;
    flex-direction: column;
    flex: 1;

    &--error {
        margin-top: 10px;
        opacity: 1;
        font-size: 14px;
        line-height: 18px;
        color: $color-error;
    }

    &--input {
        height: 38px;
        background: transparent;
        border: none;
        color: #232323;
        font-size: 18px;
        transition: all 0.2s ease;
    }
}
