@import "../../styles/main.scss";

.HeaderImage {
    align-self: stretch;
    margin-left: -$padding-page;
    margin-right: -$padding-page;
    height: 600px;
    position: relative;
    z-index: 5;
    overflow: hidden;
    transition: height 0.2s ease;

    @include bp-med {
        height: 600px;
    }

    @include bp-full {
        height: 900px;
    }

    &--img {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: opacity 0.5s ease;
        opacity: 0.4;
    }

    &--content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding: $padding-page;
        padding-bottom: $padding-page * 4;
    }
}

.BasicHeader {
    margin: 0 auto;
    max-width: 980px;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include bp-full {
        align-items: stretch;
    }

    &--title {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 650px;
        margin: 0;
        text-align: center;
        font-size: 40px;
        padding: $padding-double;

        -webkit-animation: fadein-left 0.5s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein-left 0.5s; /* Firefox < 16 */
        -ms-animation: fadein-left 0.5s; /* Internet Explorer */
        -o-animation: fadein-left 0.5s; /* Opera < 12.1 */
        animation: fadein-left 0.5s;

        @include bp-med {
            text-align: center;
            font-size: 60px;
        }

        @include bp-full {
            margin-top: 100px;
            text-align: left;
            align-items: flex-start;
            align-self: flex-start;
        }
    }

    &--body {
        flex: 2;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        width: 100%;
        max-width: 650px;
        align-self: flex-end;
        margin: 0;
        display: none;

        -webkit-animation: fadein-bottom 0.8s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein-bottom 0.8s; /* Firefox < 16 */
        -ms-animation: fadein-bottom 0.8s; /* Internet Explorer */
        -o-animation: fadein-bottom 0.8s; /* Opera < 12.1 */
        animation: fadein-bottom 0.8s;

        @include bp-full {
            display: flex;
        }
    }
}

.LogoHeader {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--logo {
        margin-bottom: 40px;
        max-width: 80%;
        max-height: 150px;
    }

    &--punchline {
        font-size: 24px;
        margin-bottom: 40px;
        text-align: center;
    }

    &--link {
        height: 40px;
        width: 280px;
        background: $junction-white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 7px;

        &__text {
            text-align: center;
            color: $junction-black;
        }
    }
}

@keyframes fadein-left {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadein-bottom {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transfrom: translateY(0);
        opacity: 1;
    }
}
