@import '../../../styles/main';

.ConnectedHome {
  overflow-x: hidden;

  .HubInfo {
    p.centered,
    h1.centered {
      margin: 5% 10%;
      text-align: center;
    }
  }
  .HeaderSection {
    height: 90vh;

    @include bp-med {
      height: auto;
    }
    img {
      display: none;
      @include bp-med {
        padding-top: 2%;
        display: block;
      }
      width: 30em;
    }
    &--title {
      font-size: 2em;
    }
    &--body {
      display: block;
      @include bp-med {
        font-size: 1.5em;
      }
      font-style: normal;
      font-weight: 600;
      line-height: 1.5em;
    }
    .Button-row {
      display: flex;
      flex-direction: column;
    }
  }

  .chainRow {
    display: none;
    @include bp-med {
      display: flex;
      flex-direction: row;
      margin: 5% 0 5% 0;
      justify-content: space-evenly;
    }
  }

  .RemoveBorder {
    border-top: unset;
    border-bottom: unset;

    h2 {
      color: $connected-blue;
    }
  }

  .YouTube {
    &--wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
    }
    &--inside {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      iframe {
        width: 100%;
        height: 30vh;
        border-radius: 34px;
      }

      @include bp-med {
        iframe {
          height: 50vh;
        }
        width: 90%;
        height: 50vh;
        padding-bottom: 20px;
      }

      @include bp-full {
        height: 80vh;
        padding-bottom: 20px;
      }

      h2 {
        font-size: 2em;
        margin: 0;
      }

      h3 {
        font-size: 1.5em;
        font-weight: 600;
      }
      h4 {
        color: $connected-blue;
        font-weight: 600;
        margin-bottom: 6%;
      }

      &--challengesButton {
        background: $connected-blue !important;
        color: $connected-teal !important;
      }
    }
  }

  .wholePage {
    h2 {
      color: #6da99e;
    }

    h3 {
      font-size: 18px;
    }
  }

  .hide {
    @include bp-small-only {
      display: none;
    }
  }

  .challengesSection {
    margin: 2% 10%;
    text-align: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;

    p {
      text-align: center;
    }

    .challengesImage {
      width: 80%;
      margin: auto;
      margin-top: 5%;
      border-radius: 2em;
      object-fit: cover;

      height: 20em;

      @include bp-full {
        height: 25em;
      }
    }
  }

  .NewsLetter {
    padding: 10% 10% 0 10%;
    display: flex;
    flex-direction: column;
    position: relative;
    &--content {
      margin-top: 2%;
      width: 60%;
      @include bp-small-only {
        width: 100%;
        margin-bottom: 15vh;
      }
    }
    img.Chain-2part {
      position: absolute;
      z-index: 10;
      right: 10%;
      bottom: -30%;
      @include bp-small-only {
        height: 25vh;
        bottom: -15%;
        right: 5%;
      }
    }

    .FormRow {
      display: flex;
      justify-content: left;
      margin-top: 0.5em;
      @include bp-small-only {
        justify-content: center;
        width: 100%;
      }
    }

    h1 {
      text-align: left;
    }

    input.TextInput--inputbox,
    select.DropDown--input {
      margin-right: 2em;
      border-color: $connected-blue;
      color: $connected-teal;
      color: $connected-teal;
      padding: 0.6em;
      padding-left: 0.9em;
      max-width: 10em;

      &::placeholder {
        color: $connected-teal;
      }

      @include bp-small-only {
        width: 100%;
        max-width: unset;
      }
    }

    button.SubmitButton--button {
      background-color: $connected-orange;

      span.SubmitButton--button__text {
        color: $connected-blue;
      }
    }
  }

  .PartnerSection {
    height: auto;
    background: $connected-blue;

    .HeaderSection--content {
      display: flex;
      flex-direction: column;
    }
  }
  .logoBGR {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 1em;
    margin-bottom: 1em;
    .logoContainer {
      margin: 1rem;
      align-self: center;
      text-align: -webkit-center;
      text-align: -moz-center;
    }
    @media screen and (min-width: 1000px) {
      .logoContainer {
        width: calc(100% / 3);
      }
    }
    @media screen and (min-width: 600px) {
      .logoContainer {
        width: calc(50% - 2rem);
      }
    }

    @media screen and (min-width: 1000px) {
      .logoContainer {
        width: calc(33.3333% - 2rem);
      }
    }
    .BIGLOGO {
      display: block;
      width: 15em;
    }

    .logoIMG {
      display: block;
      width: 8em;
    }
  }

  .logoBGR-small {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 1em;
    margin-bottom: 1em;
    .logoContainer {
      margin: 1rem;
      align-self: center;
      text-align: -webkit-center;
      text-align: -moz-center;
    }
    @media screen and (min-width: 1000px) {
      .logoContainer {
        width: calc(100% / 4);
      }
    }
    @media screen and (min-width: 600px) {
      .logoContainer {
        width: calc(50% - 2rem);
      }
    }

    @media screen and (min-width: 1000px) {
      .logoContainer {
        width: calc(25% - 2rem);
      }
    }
    .BIGLOGO {
      display: block;
      width: 15em;
    }

    .logoIMG {
      display: block;
      width: 8em;
    }
  }

  .HubSection {
    display: flex;
    flex-direction: column;
    margin: 10%;
    justify-content: center;
    text-align: center;

    @include bp-med {
      text-align: left;
      justify-content: space-between;
      flex-direction: row;
    }

    .HubListElem {
      margin: 0;
      &.visible {
        .HubName {
          cursor: default;
          color: $connected-teal;
        }
        .HubDetails {
          p  {
            text-align: left;
          }
          text-align: left;
          display: block;
        }

        .LocalTime {
          display: inline-block;
          color: $connected-teal;
          @include bp-small-only {
            display: none;
          }
        }
      }

      .LocalTime {
        display: none;
      }

      .HubName {
        cursor: pointer;
        color: $connected-orange;
        text-decoration: underline;
        margin-right: 0.3em;
        font-size: 1.7em;
        margin-bottom: 0.2em;
        display: inline-block;
      }

      .HubDetails {
        display: none;
        p {
          color: $connected-teal;
          @include bp-small-only {
            text-align: center;
          }
          text-align: left;
        }

        &--country {
          margin: 0;
          font-size: 1.3em;
        }
      }
    }
  }

  .hubsIllustration {
    display: none;
    @include bp-med {
      margin: 5% auto;
      display: block;
    }
  }

  .hubsIllustrationMobile {
    display: block;
    margin: auto;
    @include bp-med {
      display: none;
    }
  }
}

.Button-apply {
  background-color: $connected-blue !important;
}

.Button-apply:hover {
  background-color: $connected-peach !important;
}

.Button-apply > span {
  color: $connected-orange !important;
}

.partnerHeading {
  color: $connected-peach !important;
}

.Hero-Youtube {
  margin-top: 20vh;
  height: 20vh;
  iframe {
    width: 95%;
    height: 40vh;
    border-radius: 1.5em;
  }

  @include bp-med {
    h1 {
      display: none;
    }
    height: 100vh;
    margin-top: 0;
    iframe {
      border-radius: 0;

      width: 100%;
      height: 100vh;
    }
  }
}
