.DebugPlaceholder {
	background: rgba(red, 0.3);
	border: 2px solid red;
	display: block;
	padding: 10px;
	max-width: 980px;
	margin: 0 auto;
	width: 100%;

	* {
		text-align: center;
		margin: 0;
	}

	&--description {
		flex: 1;
	}
}