@import "../../styles/main.scss";

.HeaderVideo {
    align-self: stretch;
    margin-left: -$padding-page;
    margin-right: -$padding-page;
    height: auto;
    position: relative;
    overflow: hidden;
    z-index: 5;
    transition: height 0.2s ease;
    height: 50vh;

    &--buttons {
        display: flex;
        flex-direction: column;

        @include bp-med {
            flex-direction: row;
        }
    }

    @include bp-med {
        height: 100vh;
    }

    @include bp-full {
        height: 100vh;
    }

    .vjs-loading-spinner {
        display: none !important;
    }

    &--video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        pointer-events: none;

        video {
            object-fit: cover;
        }
    }

    &--logo-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &--logo {
        max-height: 200px;
        max-width: 80%;
        object-fit: contain;

        @include bp-full {
            position: relative;
            top: -50px;
        }
    }
}
