@import '../../styles/main.scss';

.HeaderVideo {
    align-self: stretch;
    margin-left: -$padding-page;
    margin-right: -$padding-page;
    height: auto;
    position: relative;
    overflow: hidden;
    z-index: 0;
    transition: height 0.2s ease, opacity 1.5s ease;
    height: 380px;
    opacity: 0;

    @include bp-med {
        height: 600px;
    }

    @include bp-full {
        height: 900px;
    }

    &-visible {
        opacity: 1;
    }

    .vjs-loading-spinner {
        display: none !important;
    }

    &--video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        pointer-events: none;
        mask-image: url('../../assets/misc/wave-mask.png');
        mask-size: cover;
        mask-position: bottom;
        -webkit-mask-image: url('../../assets/misc/wave-mask.png');
        -webkit-mask-size: cover;
        -webkit-mask-position: bottom;

        video {
            object-fit: cover;
        }

        &-visible {
            opacity: 1;
        }
    }

    &--wave-overlay {
        position: absolute;
        bottom: 0;
        left: -1%;
        width: 102%;
        transform: translateY(50%);
        object-fit: cover;
    }

    &--nav-title {
        position: absolute;
        top: 0;
        left: 100px;
        right: 100px;
        text-align: center;
        margin: 30px 0 0 0;
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        visibility: hidden;

        @include bp-med {
            visibility: visible;
            height: 50px;
        }

        @include bp-full {
            height: 60px;
        }
    }
}
