@import "../../styles/main";

.Divider {
    height: 1rem;
    width: 1rem;

    &-sm {
        height: 50px;
        width: 50px;
    }

    &-md {
        height: 90px;
        width: 90px;
    }

    &-lg {
        height: 130px;
        width: 130px;
    }

    &-line {
        height: 50px;
        width: 100%;
    }
}
