.Small {
    width: 263px;
    height: 35px;
    box-shadow: 2px 4px 4px rgba(35, 35, 35, 0.15);
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 33px;
    font-size: 18px;
    font-weight: 600;
    text-transform: none;
    line-height: 22px;
    margin: 2px;
    color: inherit;
}
