@import '../../styles/main.scss';

.LinkGrid {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;

	@include bp-med {
		flex-direction: row;	
	}

	&--item {
		width: 290px;
		height: 290px;
		margin-bottom: 30px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border: 1px solid $junction-white;
		border-radius: 15px;
	}
}