@import "../../styles/main";

.Footer {
    display: flex;
    flex-direction: column;

    @include bp-full {
        flex-direction: row;
    }

    &--divider {
        height: 0.2em;
        width: 100%;

        @include bp-full {
            height: auto;
            width: 0.2em;
            position: relative;
            top: -1px;
        }
    }

    .subscribe-text {
        h2 {
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
        }
    }

    .FooterListLeft {
        margin-right: 40px;
    }

    &--left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        @include bp-full {
            width: calc(50% - 0.2em);
        }

        &--margin {
            margin-top: 55px;
        }

        &-first {
            margin: auto;
            margin-top: 0;
        }

        &-divider {
            height: 0.2em;
            width: 100%;
        }

        &-second {
            margin: auto;

            &__FooterLinkList {
                display: flex;
                flex-direction: row;

                span {
                    display: block;
                    a {
                        text-align: center;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 20px;
                    }
                }
            }
        }
    }

    &--right {
        display: flex;
        margin: auto;
        flex-direction: column;
        justify-content: center;

        h2 {
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
        }
    }
}
