@import "../../styles/main";

.Footer {
    flex-direction: column;
    height: auto;

    // Only needed for Safari(?) :D
    min-height: 500px;

    @include bp-full {
        scroll-snap-stop: normal;
        scroll-snap-align: end;
        flex-direction: row;
        display: -webkit-flex;
    }

    &--divider {
        height: 0.1em;
        width: 100%;

        @include bp-full {
            height: auto;
            width: 0.05em;
            position: relative;
            top: -1px;
        }
    }

    .subscribe-text {
        h2 {
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
        }
    }

    .FooterListLeft {
        margin-right: 40px;
    }

    &--left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 0;

        @include bp-full {
            width: calc(50% - 0.2em);
        }

        &--margin {
            margin-top: 55px;
        }

        &-first {
            margin: auto;
            width: 75%;
            text-align: center;
            margin-top: 0;

            @include bp-med {
                text-align: left;
                margin-left: 15%;
            }
        }

        &-divider {
            height: 0.05em;
            width: 100%;
            display: none;
            @include bp-full {
                display: block;
            }
        }

        &-second {
            margin: auto;
            margin-top: 5%;
            margin-left: 15%;
            display: none;
            @include bp-full {
                display: block;
            }

            &__FooterLinkList {
                display: flex;
                flex-direction: row;

                span {
                    display: block;
                    a {
                        text-align: center;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 20px;
                    }
                }
            }
        }
    }

    &--right {
        display: flex;
        margin: auto;
        width: 70%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include bp-med {
            justify-content: flex-start;
            margin: auto;
        }

        span {
            text-align: center;
            @include bp-med {
                text-align: left;
            }
        }
        @include bp-full {
            width: 30%;
            margin: 0 10% 0 10%;
            align-items: flex-start;
        }

        h2 {
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
        }
    }

    &--mobile {
        &-links {
            width: 70%;
            margin: 5% auto 5% auto;
            @include bp-full {
                display: none;
            }
        }
        &-divider {
            height: 0.2em;
            background-color: $connected-blue;
            width: 100%;
            display: block;
            @include bp-full {
                display: none;
            }
        }
    }
}
