@import "../../styles/main";

.Footer {
    background: $junction-white;
    border-top: 4px solid $junction-black;
    display: flex;
    flex-direction: column;

    .subscribe-text {
        h2 {
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
        }
    }

    .FooterListLeft {
        margin-right: 40px;
    }

    @include bp-med {
        flex-direction: row;
    }

    &--left {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        justify-content: center;
        border-right: 4px solid $junction-black;

        &--margin {
            margin-top: 55px;
        }

        &-first {
            justify-content: center;
        }

        &-divider {
            background-color: $junction-black;
            height: 4px;
            width: 100%;
        }

        &-second {
            margin-top: 54px;

            &__FooterLinkList {
                display: flex;
                flex-direction: row;

                span {
                    display: block;
                    a {
                        color: $junction-black;
                        text-align: center;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 20px;
                    }
                }
            }
        }
    }

    &--right {
        display: flex;
        margin: auto;
        flex-direction: column;
        justify-content: center;

        h2 {
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
        }
    }
}
