@import '../../styles/main';

.ConceptsPreview {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: stretch;
	
	&--item {
		height: 350px;
		position: relative;
		overflow: hidden;

		&-wrapper {
			display: block;
			margin-top: $padding-double;
		}

		&__image {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&__content {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			flex: 1;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 2;

			background: rgba(0,0,0,0.4);
			background: radial-gradient(circle, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.3) 70%,rgba(0,0,0,0.05) 100%);
		}

		&__logo {
			width: 50%;	
			margin-bottom: 20px;
		}

		&__punchline {
			text-align: center;
			font-size: 24px;
			padding: 0 $padding-double;
		}
	}
}