@import "./styles/main";

.Page {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.App--Header {
  background: $junction-black;
  flex-shrink: 0;
  padding: $padding-base;
  text-align: center;

  header {
    color: $junction-white;
  }
}

.App--Main {
  background: $junction-black;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 100px;

  &_logo {
    width: 100%;
    max-width: 400px;
  }

  &_body,
  &_title {
    text-align: center;
    max-width: 600px;
  }
}

.App--Footer {
  background: $color-lightgrey;
  flex-shrink: 0;
  text-align: center;
  padding: $padding-base;

  footer {

    small {
      color: $junction-black;
    }
  }
}