@import '../../styles/main';

.Header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    pointer-events: none;

    padding: 20px;
    background: transparent;
    transition: all 0.2s ease;

    &--menu-button {
        width: 50px;
        cursor: pointer;
        transition: all 0.2s ease;
        pointer-events: all;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        &:hover {
            i {
                background: rgba($junction-white, 0.1);
            }
        }

        i {
            padding: 5px;
            font-size: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &--nav-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__text {
            font-size: 18px;
            margin: 0;
        }
    }

    &--emblem {
        width: 50px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        &__image {
            transition: all 0.2s ease;
            height: 40px;
            width: 40px;
        }
    }
}
