@import '../../styles/main';

.Header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	padding: 40px;
	z-index: 100;
	background: transparent;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	pointer-events: none;

	&--menu-button {
		width: 60px;
		height: 60px;
		cursor: pointer;
		transition: all 0.2s ease;
		pointer-events: all;

		&:hover {
			background: rgba($junction-white, 0.1);
		}

		i {
			font-size: 48px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	&--emblem {
		height: 60px;
		width: 60px;
	}
}