@import "../../../styles/main";
.CommunityPage {
    .CommunityPage--TopContent {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
    }

    .CommunityPage--textAndArrowDiv {
        width: 40%;
    }

    .CommunityPage--ImageBlock {
        width: 60%;
    }

    &--img {
        width: 100%;
    }

    .topic {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 60px;
        line-height: 73px;
        text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
    }
}
