@import "../../../styles/main";

.TimelineSection {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 2em auto;
    &--left {
        width: 40%;
        display: none;
        @include bp-med {
            display: flex;
            flex-direction: column;
        }
    }
    &--right {
        width: 40%;
    }
}
