@import "../../../styles/main";
.EventInfo {
    .TimelineSection {
        width: 90%;

        h2 {
            font-size: 2em;
        }

        .MobileTitle {
            font-size: 2.5em;
            display: block;
            align-self: center;
            @include bp-med {
                display: none;
            }
        }

        .BlockSection--left {
            display: none;
            @include bp-med {
                height: 100%;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
            }
        }
        .BlockSection--right {
            width: 100%;
            margin: auto;
            display: flex;

            @include bp-med {
                width: 50%;
            }
        }

        .Connected-chains {
            max-height: 90%;
            margin-top: 5%;
        }
    }
    .SingleColumnSection > p {
        text-align: center;
    }
}
