.TimelineSection {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 2em auto;
    &--left {
        width: 40%;
    }
    &--right {
        width: 40%;
    }
}
