@import '../../styles/main.scss';

.HeaderImage {
    align-self: stretch;
    margin-left: -$padding-page;
    margin-right: -$padding-page;
    height: 480px;
    position: relative;
    overflow: hidden;
    z-index: 0;
    transition: height 0.2s ease;

    @include bp-med {
        height: 600px;
    }

    @include bp-full {
        height: 900px;
    }

    &-loaded {
        .HeaderImage--img {
            opacity: 0.4;
        }

        .HeaderImage--vid {
            opacity: 1;
        }

        .HeaderImage--main-content {
            &__title {
                transform: translateX(0);
                opacity: 1;
            }

            &__body {
                transform: translateY(0);
                opacity: 1;
            }
        }
    }

    &--img {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        opacity: 0;
        transition: opacity 0.5s ease;
        mask-image: url('../../assets/misc/wave-mask.png');
        mask-size: cover;
        mask-position: bottom;
        -webkit-mask-image: url('../../assets/misc/wave-mask.png');
        -webkit-mask-size: cover;
        -webkit-mask-position: bottom;

        &-visible {
            opacity: 1;
        }
    }

    &--youtube {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: none;
        object-position: center;
        transition: opacity 1.5s ease;
        opacity: 0;

        &-visible {
            opacity: 1;
        }

        &__video {
            width: 100%;
            height: 100%;
        }
    }

    &--wave-overlay {
        position: absolute;
        bottom: 0;
        left: -1%;
        width: 102%;
        transform: translateY(50%);
        object-fit: cover;
    }

    &--content {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &--main-content {
        margin: 0 auto;
        max-width: 980px;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 3;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include bp-full {
            align-items: stretch;
        }

        &__title {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 650px;
            margin: 0;
            transform: translateX(-50px);
            opacity: 0;
            transition: transform 0.5s ease;
            text-align: center;
            font-size: 40px;
            padding: $padding-double;

            @include bp-med {
                text-align: center;
                font-size: 60px;
            }

            @include bp-full {
                text-align: left;
                align-items: flex-start;
                align-self: flex-start;
            }
        }

        &__body {
            flex: 1;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
            width: 100%;
            max-width: 650px;
            align-self: flex-end;
            margin: 0;
            transform: translateY(50px);
            opacity: 0;
            transition: all 0.8s ease;
            display: none;

            @include bp-full {
                display: flex;
            }
        }
    }
}
