.icon-menu:before {
    content: "\e800";
} /* '' */
.icon-right-open:before {
    content: "\e801";
} /* '' */
.icon-left-open:before {
    content: "\e802";
} /* '' */
.icon-plus:before {
    content: "\e803";
} /* '' */
.icon-minus:before {
    content: "\e804";
} /* '' */
.icon-ccw:before {
    content: "\e805";
} /* '' */
.icon-location:before {
    content: "\f031";
} /* '' */
