@import "../../styles/main.scss";

.SectionImage {
    align-self: stretch;
    height: 35vh;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: height 0.2s ease;

    @include bp-med {
        height: 40vh;
    }

    @include bp-full {
        height: 50vh;
    }

    &--img {
        z-index: -1;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &--content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding: $padding-page;
        padding-bottom: $padding-page * 4;
    }
}

.ImageHeader {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--title {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        font-size: 40px;
        padding: $padding-double;

        -webkit-animation: fadein-left 0.5s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein-left 0.5s; /* Firefox < 16 */
        -ms-animation: fadein-left 0.5s; /* Internet Explorer */
        -o-animation: fadein-left 0.5s; /* Opera < 12.1 */
        animation: fadein-left 0.5s;

        @include bp-med {
            font-size: 60px;
        }
    }

    &--body {
        flex: 2;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        width: 100%;
        max-width: 80%;
        align-self: flex-end;
        margin: 0;
        display: none;

        -webkit-animation: fadein-bottom 0.8s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein-bottom 0.8s; /* Firefox < 16 */
        -ms-animation: fadein-bottom 0.8s; /* Internet Explorer */
        -o-animation: fadein-bottom 0.8s; /* Opera < 12.1 */
        animation: fadein-bottom 0.8s;

        @include bp-full {
            display: flex;
        }
    }
}

@keyframes fadein-left {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadein-bottom {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transfrom: translateY(0);
        opacity: 1;
    }
}
