@import "../../styles/main";

.blackText p {
    color: #0B2C5D;
    font-family: "Montserrat";
    font-style: "normal";
    font-weight: "600";
    font-size: "18px";
    line-height: "22px";
    display: "flex";
    align-items: "center";
}
