@import '../../styles/main';

.LinkGrid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	
	&--item {
		width: 50%;
		min-width: 300px;
		display: flex;
		align-items: center;
		justify-content: center;

		&__image {
			width: 80%;
			object-fit: contain;
			object-position: center;
		}
	}
}