@import '../../styles/main';

.LinkGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    &--item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 200px;

        &__image {
            width: 80%;
            height: 80%;
            object-fit: contain;
            object-position: center;
        }
    }

    &--rowsize-2 {
        .LinkGrid--item {
            width: 50%;
            min-width: 300px;
        }
    }

    &--rowsize-3 {
        .LinkGrid--item {
            width: 33.33%;
            min-width: 250px;
        }
    }
}
