@import '../../styles/main';

.StatBlocks {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@include bp-med {
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
	}
}