@import "../../../../styles/main.scss";

.FaqSection {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 5%;

    @include bp-med {
        width: 70%;
    }
    &--buttons {
        display: flex;
        justify-content: space-around;
        margin: 5%;
        flex-wrap: wrap;
    }
    .FaqQuestion {
        &--section {
            display: none;
            &.open {
                display: block;
            }
            h2 {
                text-transform: uppercase;
                background-color: $connected-blue;
                color: $connected-teal;
                border-radius: 0.7em 0.7em 0 0;
                padding: $padding-base;
                text-align: left;
            }
        }
    }
}
