.QuestionCard {
    &--root {
        width: 100%;
        height: 100%;

        // &:hover {
        //     transform: rotateY(180deg);
        // }

        &--text {
            &--number {
                font-family: Lato;
                font-style: normal;
                font-weight: 900;
                color: #ef7d50;
                font-size: 170px;
                text-align: left;
                justify-content: center;
                align-items: center;
                margin: 0;
            }
            &--question {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 600;
                color: #0b2c5d;
                font-size: 18px;
                line-height: 22ox;
                text-align: center;
                justify-content: center;
            }
        }

        &--boxLeft {
            position: absolute;
            z-index: 0;
            float: left;
        }

        &--boxRight {
            position: absolute;
            padding-left: 50px;
            padding-top: 60px;
            z-index: 3;
            float: right;
        }
    }
}
