.QuestionCard {
    &--root {
        height: 232px;
        border: 5px solid #f44e2c;
        box-sizing: border-box;
        border-radius: 15px;

        &:hover {
            transform: rotateY(180deg);
        }

        &--text {
            &--number {
                font-family: Lato;
                font-style: normal;
                font-weight: 900;
                color: #ef7d50;
                font-size: 170px;
                text-align: left;
                margin: 0;
            }
            &--question {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 600;
                color: #0b2c5d;
                font-size: 18px;
                line-height: 22ox;
                text-align: right;
            }
        }

        &--boxLeft {
            position: absolute;
            z-index: 0;
            float: left;
        }

        &--boxRight {
            position: relative;
            z-index: 1;
            float: right;
        }
    }
}
