@import "../../styles/main";

.SocialMediaIcons {
    display: flex;
    flex-direction: row;
    align-items: space-around;
    flex-wrap: wrap-reverse;
    height: 10%;
    position: fixed;
    top: 90%;
    z-index: 20;
    width: 15%;
    @include bp-small-only {
        display: none;
    }
    justify-content: space-evenly;
}
